*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'Montserrat', 'Roboto', sans-serif;
}

html, body
{
	@media all and (max-width: 650px)
	{
		overflow-x: hidden;
	}
}

body
{
	background-color: #F7F7FB;
}

a
{
	text-decoration: none;
}

input[type="text"],
input[type="tel"]
{
	border: none;
	outline: none;
}

main
{
	padding: 0 21px;

	@media all and (max-width: 980px)
	{
		padding: unset;
		width: 100%;
	}
}

button
{
	border: none;
	outline: none;
	background-color: transparent;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	padding: 13px 23px;

	transition: all .3s;

	&:hover
	{
		cursor: pointer;
	}
}

label:hover
{
	cursor: pointer;
}

.container
{
	//width: 95%;
	width: 100%;
	padding: 0 2.5%;

	max-width: 1440px;
	margin: 0 auto;

	//@media all and (max-width: 980px)
	//{
	//	max-width: unset;
	//}
}

.btn
{
	border-radius: 10px;
}