*, *::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'Montserrat', 'Roboto', sans-serif;
}

body
{
	background-color: #F7F7FB;
}

a
{
	text-decoration: none;
}

input[type="text"]
{
	border: none;
	outline: none;
}

button
{
	border: none;
	outline: none;
	background-color: transparent;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	padding: 13px 23px;

	transition: all .3s;

	&:hover
	{
		cursor: pointer;
	}
}

label:hover
{
	cursor: pointer;
}

.container
{
	max-width: 1440px;
	margin: 0 auto;
}

.btn
{
	border-radius: 10px;
}