@import './mixins.scss';

div.header-container
{
	margin-bottom: 49.7px;

	@media all and (max-width: 650px)
	{
		border-bottom: 1px solid #DADADA;
	}
}

header {
	@include flex(flex, row wrap, space-between, center);

	padding-top: 48px;

	transition: all .3s;
	position: relative;

	@media all and (max-width: 1024px)
	{
		@include flex(flex, column nowrap, flex-start, center);
		padding-top: 20px;
	}

	@media all and (max-width: 650px)
	{
		@include flex(flex, row wrap, space-between, center);
		padding: 20px 20px 19px 20px;
	}
}

div.logo-nav-wrapper,
div.search-contacts-wrapper
{
	@include flex(flex, row wrap, space-between, center);
	//transition: all .3s;
}

div.logo-nav-wrapper
{
	@media all and (max-width: 1024px)
	{
		order: 2;
	}

	@media all and (max-width: 650px)
	{
		order: 1;
	}
}

div.search-contacts-wrapper
{
	@media all and (max-width: 1024px)
	{
		order: 1;
		margin-bottom: 25px;
	}
}

header div.logo
{
	margin-right: 33px;

	@media all and (max-width: 650px)
	{
		margin-right: unset;
	}
}

div.logo
{
	@include flex(flex, row wrap, flex-start, center);

	svg.logo-svg
	{
		width: 37.23px;
		margin-right: 10px;
	}
}

nav.header-navigation
{
	@include flex(flex, row wrap, flex-start, center);

	a.header-navigation__link
	{
		color: #444444;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 19px;
		font-weight: 400;

		margin-right: 27px;

		&:last-child
		{
			margin-right: unset;
		}
	}

	@media all and (max-width: 650px)
	{
		display: none;
	}
}

div.search-contacts-wrapper {

	@media all and (max-width: 650px) {
		display: none;
	}
}

form.search
{
	margin-right: 68px;

	@include flex(flex, row nowrap, flex-start, center);

	input[type="submit"]
	{
		display: none;
	}

	input
	{
		width: 106px;

		color: #444;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;

		background-color: transparent;

		padding-left: 5px;

		transition: all .3s;
	}
}

div.contacts
{
	a
	{
		color: #000;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
}

button.burger-navigation
{
	display: none;

	padding: unset;

	order: 1;

	width: 30px;
	height: 17px;

	//background-image: url("/src/img/burger_menu.svg");
	background-image: url("./../src/img/burger_menu.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	@media all and (max-width: 650px)
	{
		display: block;
	}
}

div.burger-menu {
	display: none;
	
	position: absolute;
	z-index: 2;
	top: calc(27.433px + 20px + 19px);
	right: -400px;

	background-color: #12173A;

	border-radius: 8px;

	transition: all .3s;

	&.showed
	{
		right: 0;
	}

	div.burger-menu-wrapper {
		padding: 10px 20px;
		border-top: 1px solid #fff;

		&:first-child {
			border-top: none;
		}

		&.contacts
		{
			@include flex (flex, row wrap, center, flex-start);

			a
			{
				color: #fff;
				font-size: 18px;
			}
		}
	}

	form {
		padding: 7px 0;
		margin-right: unset;

		label {
			svg {
				width: 20px;
				height: 20px;

				path {
					fill: #fff;
				}
			}
		}

		input[type="text"] {
			font-size: 18px;
			width: 100%;

			color: #fff;

			//input::-webkit-input-placeholder
			//{
			//	color: #fff !important;
			//}
		}
	}

	nav {
		@include flex(flex, column nowrap, flex-start, flex-start);

		a.header-navigation__link {
			width: 100%;

			font-size: 16px;
			margin-bottom: 15px;
			margin-right: unset;

			background-color: #fff;
			border-radius: 8px;
			padding: 8px 10px;

			&:last-child {
				margin-bottom: unset;
			}
		}
	}

	@media all and (max-width: 650px) {
		display: block;
	}
}