@import "mixins.scss";

div.modal-wrapper
{
    //display: block;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    height: 100vh;
    width: 100%;

    background-color: rgba(18, 23, 58, 0.4);

    div.close-modal
    {
        position: absolute;
        right: 20px;
        top: 20px;

        width: 17px;
        height: 17px;

        background-image: url('/src/img/close.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        transition: all .3s;

        &:hover
        {
            cursor: pointer;
        }
    }

    form.modal, div.modal
    {
        width: 450px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 85px 55px 85px;

        border-radius: 20px;
        background-color: #fff;

        @include flex(flex, column nowrap, flex-start, center);

        .modal-text-input
        {
            outline: none;

            width: 270px;

            background-color: transparent;
            border: 1px solid #2A54A2;
            border-radius: 10px;

            color: #333333;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            padding: 16px 12px 13px 12px;

            margin-bottom: 15px;

            &:last-child
            {
                margin-bottom: unset;
            }
        }

        textarea.modal-textarea
        {
            min-height: 75px;
            max-height: 500px;

            resize: vertical;

            display: none;
        }

        input.modal-submit-btn, button.modal-submit-btn
        {
            border: none;
            outline: none;

            width: 270px;

            margin-top: 20px;
            margin-bottom: 15px;

            padding: 20px 40px;

            background-color: #2A54A2;
            border-radius: 10px;

            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;

            text-transform: uppercase;

            &:hover
            {
                cursor: pointer;
            }
        }

        span.accept-terms
        {
            color: #333333;
            font-size: 8px;
            line-height: 11px;

            text-align: center;
        }
    }
}